.light {
    opacity: 0.6;
}

.side-controls {
    display: inline;
    float: left;
    margin-top: 10px;
    margin-right: 8px;
}

.prompt {
    width:200px; 
    height:120px; 
    border: 2px solid #FF6600;
    background: #FFFFFF;
    z-index: 99;
    display:none;
    position: absolute;
    top: 200px;
    left: 200px;
}

.prompt > .close-link {
    float: right;
    padding: 4px;
}
