.colored-visualizer {
    height: 5px;
    margin-bottom: 1px;
}

#hotlog-result {
    border: 2px solid #000;
    margin: 4px;
    padding: 4px;
}

.light {
    opacity: 0.6;
}

.smiley-container {
    margin-left: 15px;
    margin-bottom: 8px;
}

.suggestion-left-container {
    display: inline;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
}

.suggestion-view {
    margin-top: 10px;
    margin-bottom: 64px;
}

.side-controls-overlay > img {
    opacity: 0.6;
}

.prompt {
    width:400px; 
    height:360px; 
    border: 2px solid #FF6600;
    background: #FFFFFF;
    z-index: 99;
    display:none;
    position: absolute;
    top: 80px;
    left: 200px;
    padding: 10px;
}

.prompt > .close-link {
    float: right;
    padding: 4px;
}
